h2{
    color: red;
}

    header{
        background-color: rgb(27, 27, 27);
        margin-top: -2%;
        padding-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
}

body, header {
  margin: 0;
  padding: 0;
}
button {
  width: fit-content;
  min-width: 100px;
  height: 45px;
  padding: 8px;
  border-radius: 5px;
  border: 2.5px solid #E0E1E4;
  box-shadow: 0px 0px 20px -20px;
  cursor: pointer;
  background-color: white;
  transition: all 0.2s ease-in-out 0ms;
  user-select: none;
  font-family: 'Poppins', sans-serif;
}

button:hover {
  background-color: #F2F2F2;
  box-shadow: 0px 0px 20px -18px;
}

button:active {
  transform: scale(0.95);
}

.buttons-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 20px 0;
}
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 1000;
}

.popup-content {
  background-color: white;
  width: 300px;
  margin: 15% auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
}

.close {
  float: right;
  cursor: pointer;
}

.search-bar {
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#searchInput {
  width: 80%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}



#listeFilms {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
  list-style-type: none;
}

.film {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: calc(25% - 20px); /* Adjust the width as needed */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Century Gothic", sans-serif;
  color: #761276;
  font-weight: bold;
  font-size: 25px
}
.film img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
 }


 a {
  color: inherit; /* Hérite la couleur du texte du parent */
  text-decoration: none; /* Supprime le sous-lignage */
}

#listeSeries {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
    list-style-type: none;
}

.Series{
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(25% - 20px); /* Adjust the width as needed */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Century Gothic", sans-serif;
    color: #761276;
    font-weight: bold;
    font-size: 25px
}
#listeSeries {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
  list-style-type: none;
 }
 
 .Series {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: calc(25% - 20px); /* Adjustez la largeur selon vos besoins */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
 }
 
 .Series img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
 }


 #inscriptionForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#inscriptionForm label {
  font-weight: bold;
}

#inscriptionForm input[type="text"],
#inscriptionForm input[type="email"],
#inscriptionForm input[type="password"] {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#inscriptionForm button {
  padding: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#inscriptionForm button:hover {
  background-color: #0056b3;
}

#connexionForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#connexionForm label {
  font-weight: bold;
}

#connexionForm input[type="email"],
#connexionForm input[type="password"] {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#connexionForm button {
  padding: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#connexionForm button:hover {
  background-color: #0056b3;
}



